@model DBFirstEF_LMS.Models.Registered

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registered</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section.day_of_week)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.day_of_week)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
